#Google {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 30px;
}

p {
    text-align: center;
}

.frm {
    background: #eaedeb;
    text-align: center;
    padding: 10px;

}

.aaa {
    line-height: 1.2em;
    width: 250px;
     !important 
    height: 0px;
     !important
}

.abc {
    margin-bottom: 8px;
    font-size: 14px;
}

.last {
    list-style-type: none;
    margin-top: 0px;
    box-sizing: border-box;
    padding: 20px;


}

#first {
    background-color: aqua;
    float: left;
    height: 100px;
    width: 530px;
    text-align: center;



}

#second {
    background-color: #6dbfbc;
    float: left;
    height: 100px;
    width: 290px;
    text-align: center;

}

#third {
    background-color: #1c9e99;
    float: left;
    height: 100px;
    width: 530px;
    text-align: center;

}
